*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
color: red;
}
.couleur{
    background-color: red;
}
.couleurbleu{
    background-color: blue;

}


